body {
    background-color: black;
}

p { 
    color: black;
    font-family: "Times New Roman";
    font-size: 52px;
    font-weight: bold;
}
a [target] {
     background-color: black;
}
 


 
div {
    width: 2000px;
    height: 2000px;
    background-color: darkblue;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: darkblue;}
    to {background-color: purple;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: darkblue;}
    to {background-color: purple;}
}

